body {
    background-color: #F7D24A;
    font-family: 'Libre Franklin', sans-serif;
}

/* HOME PAGE CSS */

.home-page {
    text-align: center;
}

.home-btn {
    width: 10em;
    height: 5em;
}

.welcome-page {
    text-align: center;
    margin: 20px;
}

<<<<<<< HEAD
.create-page {
  text-align: center;
  margin: 20px; 
  
}

.create-img {
  height: 30%;
  width: 30%;
}

||||||| merged common ancestors
=======
/* DASHBOARD CSS  */

>>>>>>> 4e3104a9b076c8f6ac8f2d4a1faff203708f83fd
.dashboard-page {
    text-align: center;
}

.dashboard-container {
    /* justify-content: space-around;
    flex-direction: row ; */
    margin-top: 2em;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}

.dashboard-btn {
    flex: 1;
    display: flex;
    justify-content: center;
}

.button {
    margin: 10em;
    height: 150px;
    width: 150px;
}

.fekeStatus {
    margin: auto;
    border-style: solid;
    text-align: center;
    width: 75vw;
    height: 200px;
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: 0.25fr;
    grid-template-areas: ". .";
}

.feke-image {
    float: left;
    width: 200px;
    height: 200px;
}

.feke-details-container {
    float: right;
    width: 100%;
}

.feke-details {
    width: 100%;
    text-align: left;
}

.feke-name {
    height: 100px;
    padding: 1em;
}

.feke-village {
    height: 100px;
    padding: 1em;
}

/* CREATEFEKE CSS */

.createfeke-page {
    text-align: center;
}

/* @media only screen and (max-width: 600px) {
    .feke-details-container {
    
    }
  } */

@media only screen and (max-width: 600px) {
    .dashboard-container {
        margin-top: 1em;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 1em;
    }
  }