body {
    background-color: #F7D24A;
    font-family: 'Libre Fran', sans-serif;
    background-image: url(images/leaves.png), url(images/footerwaves.png);
    background-repeat: no-repeat; 
    background-position: center bottom, center bottom;
    background-size: 100%;
}
h1 {
    text-align: center;
    color: rgb(88, 88, 218);
}

h4 {
    text-align: center;
    color: rgb(88, 88, 218);
}

.radio{
    align-self: center
}

h2 {
  text-align: center; 
}

.validateInput{
    position: fixed;
    top:6vh;
    width: 40vw;
    margin-left:30vw;
    margin-right:30vw;
    display: block;
    color: red
}

button {
  text-align: center;
}

/* HOME PAGE CSS */

.home-page {
    height: 60%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.home-btn {
    width: 10em;
    height: 5em;
}

.welcome-page {
    text-align: center;
    margin: 20px;
}

/* HEADER CSS */ 

.header {
    overflow: hidden; 
    padding: 15px 30px;
}

.header-right {
  float: right;
  font-family: 'Bangers', cursive;
  color: whitesmoke;
  background-image: url(images/wood-sign.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center; 
  text-decoration: none;
  font-size: 40px; 
  line-height: 60px; 
  border-radius: 4px; 
  padding: 15px 30px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.header-left {
  float: left; 
  font-family: 'Bangers', cursive;
  color: whitesmoke;
  background-image: url(images/wood-sign.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center; 
  text-decoration: none;
  font-size: 40px; 
  line-height: 60px; 
  border-radius: 4px; 
  padding: 15px 30px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

/* DASHBOARD CSS  */

.dashboard-page {
    text-align: center;
}

.dashboard-container {
    /* justify-content: space-around;
    flex-direction: row ; */
    margin-top: 2em;
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    grid-template-areas: ". . ." ". . ." ". . ." "quiz quiz quiz";
    justify-items: stretch;
    align-items: stretch;
}


.dashboard-btn {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.dashboard-btn.ui.purple.button {
    height: 100px;
    font-size: 2em;
}



.button {
    margin: 10em;
    height: 50px;
    width: 150px;
    background-Color: purple;
    font-size: 20px;
}


.feke-container {
    background: white;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 15px;
    border-color: blueviolet;
    text-align: center;
    width: 400px;
    height: 270px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
}

.feke-image {
    display: inline-block;
    width: 200px;
    height: 200px;    
    vertical-align:middle;
    text-align:center;

}

.quiz-image{
    width: 300px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;

}
.feke-details-container {
    float: right;
    width: 100%;
} 

.feke-details {
    width: 100%;
    text-align: left;
}

.feke-name {
    height: 100px;
    padding: 1em;
}

.feke-village {
    height: 100px;
    padding: 1em;
}

/* CREATEFEKE CSS */

.createfeke-page {
    text-align: center;

}

.createfeke-container {
    margin-top: 1em;
    margin-left: auto ;
    margin-right: auto ;
    display: grid;
    width: 300px;
    grid-template-rows: auto auto;
    grid-template-columns: 150px 150px;
    grid-row-gap: 20px;
    grid-template-areas: ". ." ". ." "submit submit";
}

.createfeke-form {
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    margin-right: 500px;
    margin-left: 500px; 
}

.createfeke-image {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    width: 150px;
    height: 150px;
}

.createfeke-select {
    height: 80%;
}

.createfeke-submit {
    width: 100%;
    grid-area: submit !important;
}

.selected {
    border: 5px white solid;
    border-radius: 2em; 
}

label {
    align-self: center;
    font-size: 24px;
}

input[type=text], select {
  width: 100%;
  height: 25%;
  align-self: center;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* FLASHCARD */

.flash-card-btns-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". . .";
    justify-items: stretch;
    align-items: center;
    padding: 20px;

  }

.flash-cards {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3em;
    
}

.flash-cards.ui.purple.button {
    font-size: 2em;

}

.flip-box {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 150px;
  perspective: 1000px;
  padding: 10px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    color: rgb(12, 148, 12);
    padding: 10px;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  border-radius: 10px;
  border-style: solid; 
  border-color: rgb(12, 148, 12);
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: white;
}

.flip-box-back {
  background-color: white;
  color: white;
  transform: rotateY(180deg);
}

/* @media only screen and (max-width: 600px) {
    .feke-details-container {
    
    }
  } */

  @media only screen and (max-width: 1300px) {
    .createfeke-form {
        margin: 10px;
        border-radius: 5px;
        padding: 20px;
        margin-right: 200px;
        margin-left: 200px; 
    }
  }

@media only screen and (max-width: 600px) {
    .dashboard-container {
        margin-top: 1em;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 1em;
    }
  }

  /* QUIZ PAGE */

.quiz-image {
    margin-left: 40%;
}

.quizRadio {
    margin-right: auto;
    margin-left: auto;
    width: 40vw;
    padding-left: 15vw;
    font-size: 2em;
    /* text-align: center; */
    font-family: 'Lucida Grande';
 }

.answer {
    grid-area: answer;
}

 .next {
     grid-area: next;
 }

.submit {
    grid-area: submit;
}

.check-answers {
    grid-area: check-answers;
    max-height: 50px;
}

 input[type=radio] {
    margin-right: 10px;
}

.quizSubmit {
    display: flex;
    width: 100%;
    margin-top: 20px;
  }

.quizSubmit.ui.purple.button {
    font: 2em;
  }

.quiz-grid-container {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 40vw;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 50px auto;
    grid-template-areas: "answer answer" "check-answers check-answers" "next submit";
}


.score {
    margin-left: 44%;
    margin-top: 2%;
    font-size: 180%;
  }

.scoreboard {
  font-family: 'Bangers', cursive;
  color: whitesmoke;
  background-image: url(images/wood-sign.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center; 
  text-decoration: none;
  font-size: 40px; 
  line-height: 60px; 
  border-radius: 4px; 
  padding: 15px 30px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

p {
    margin: 0;
}
