body {
    background-color: #F7D24A;
    font-family: 'Libre Fran', sans-serif;
    background-image: url(images/leaves.png), url(images/footerwaves.png);
    background-repeat: no-repeat; 
    background-position: bottom, bottom;
    background-size: 100%;
}
h1 {
    text-align: center;
    color: purple;
}

.radio{
    align-self: center
}
/* HOME PAGE CSS */

.home-page {
    text-align: center;
}

.home-btn {
    width: 10em;
    height: 5em;
}

.welcome-page {
    text-align: center;
    margin: 20px;
}

/* HEADER CSS */ 

.header {
    overflow: hidden; 
    /* background: blueviolet;  */
    font-family: 'Bangers', cursive;
    padding: 5px 5px; 
    color: rgb(138, 43, 226);
}

.header a {
    float: left; 
    text-align: center; 
    padding: 10px; 
    text-decoration: none;
    font-size: 20px; 
    line-height: 25px; 
    border-radius: 4px; 
}

/* DASHBOARD CSS  */

.dashboard-page {
    text-align: center;
}

.dashboard-container {
    /* justify-content: space-around;
    flex-direction: row ; */
    margin-top: 2em;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}

.dashboard-btn {
    flex: 1;
    display: flex;
    justify-content: center;
}

.button {
    margin: 10em;
    height: 50px;
    width: 150px;
    background-Color: purple;
}

.fekeStatus {
    margin: 30px;
    border-style: solid;
    border-radius: 15px;
    border-color: blueviolet;
    text-align: center;
    width: 75vw;
    height: 150px;
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: 0.25fr;
    grid-template-areas: ". .";
}

.feke-image {
    float: left;
    width: 150px;
    height: 150px;
}

.quiz-image{
    width: 300px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;

}
.feke-details-container {
    float: right;
    width: 100%;
}

.feke-details {
    width: 100%;
    text-align: left;
}

.feke-name {
    height: 100px;
    padding: 1em;
}

.feke-village {
    height: 100px;
    padding: 1em;
}

/* CREATEFEKE CSS */

.createfeke-page {
    text-align: center;

}

.createfeke-container {
    margin-top: 1em;
    margin-left: auto ;
    margin-right: auto ;
    display: grid;
    width: 300px;
    grid-template-rows: 150px 150px;
    grid-template-columns: 150px 150px;
    
}

.createfeke-form {
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    margin-right: 500px;
    margin-left: 500px; 
}

.createfeke-image {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    width: 150px;
    height: 150px;
}

label {
    margin-top: 50px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* @media only screen and (max-width: 600px) {
    .feke-details-container {
    
    }
  } */

  @media only screen and (max-width: 1300px) {
    .createfeke-form {
        margin: 10px;
        border-radius: 5px;
        padding: 20px;
        margin-right: 200px;
        margin-left: 200px; 
    }
  }

@media only screen and (max-width: 600px) {
    .dashboard-container {
        margin-top: 1em;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 1em;
    }
  }